.map-marker {
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
  &__icon {
    overflow: hidden;
    width: 76%;
    height: 73%;
    position: absolute;
    top: 0px;
    left: 12%;
    text-align: center;
    border-radius: 100px;
    margin: auto;
    &:hover {
      opacity: 0.7;
    }
    & img {
      opacity: 0.8;
      width: 100%;
    }
  }

  & svg {
    width: var(--marker-size);
    height: var(--marker-size);
  }
}
