@import "../../sass/bootstrap/functions";
@import "../../sass/bootstrap/variables";
@import "../../sass/bootstrap/mixins/breakpoints";

.home {
  padding: 5rem;

  &__map {
    width: 39px;
    filter: invert(107%);
    border: 2px solid #ff8f87;
    border-radius: 21px;
  }
  &__phone1.phone {
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
  }
  &__phone2.phone {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    width: 374px;
    height: 721px;
    margin: auto;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
  }
}

.dm-icon {
  & img {
    width: 36px;
    opacity: 0.6;
  }
}
.phone-cover {
  background: #607d8b;
  background: #cdebf9;
  background: #95ddff;
}
