@import "../../sass/bootstrap/functions";
@import "../../sass/bootstrap/variables";
@import "../../sass/bootstrap/mixins/breakpoints";

.home {
  padding: 5rem;

  &__map {
    width: 39px;
    filter: invert(107%);
    border: 2px solid #ff8f87;
    border-radius: 21px;
  }
  &__phone1.phone {
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
  }
  &__phone2.phone {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    width: 374px;
    height: 721px;
    margin: auto;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
  }
}
.navbar {
  background: #9be296;
  background: #cdebf9;
  max-width: 372px;
  padding: 10px 14px;
  background: white;
  cursor: pointer;
}

.dm-icon {
  & img {
    width: 36px;
    opacity: 0.6;
  }
}
.screen {
  height: 571px;
}

.bottom-panel {
  background: white;
  padding: 19px 28px;
  display: flex;
  & > * {
    margin: auto;
  }
}

.callout-icon {
  position: relative;

  &__icon {
    height: 51px;
  }
}

.newsfeed-icon {
  &__icon {
    width: 46px;
  }
}
.profile-icon {
  &__icon {
    width: 42px;
  }
}
