.notification-badge {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  transform: translateZ(0px);
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: -11px;
  left: 34px;
  user-select: none;
  font-style: normal;
  font-size: 9px;
  color: white;
  z-index: 4;
  background: #f44336;
  border-radius: 131px;

  &__visible {
    visibility: visible;
  }
  &__hidden {
    visibility: hidden;
  }
}
