.basketball-globe {
  position: relative;
  cursor: pointer;
  background: #ffffff;
  border-radius: 161px;
  &:hover {
    background: #70d4a1;
  }

  &__ball {
    position: absolute;
    z-index: 1;
    width: 46px;
    top: 0;
    left: 0px;
    filter: brightness(0.5);
  }
}
